h1 {
  font-size: 50px;
  font-weight: normal;
  display: block;
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: black;
  color: White;
}
.download-excursion {
  display: block;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  color: Aquamarine;
  background-color: black;
  text-align: center;
}
.video {
  display: block;
  text-align: center;
  background-color: black;
}
h2 {
  font-size: 42px;
  font-weight: 300;
  display: block;
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: black;
  color: White;
}
.description {
  font-family: Verdana, sans-serif;
  font-size: 21px;
  color: Gray;
  background-color: black;
  text-align: center;
  display: block;
}
.picture {
  display: block;
  text-align: center;
  background-color: black;
}
